# >>> coursier install directory >>>
export PATH="$PATH:$HOME/.local/share/coursier/bin"
# <<< coursier install directory <<<

export XDG_CONFIG_HOME="$HOME/.config"

export XCURSOR_SIZE=24
export QT_STYLE_OVERRIDE=breeze
export GTK_IM_MODULE=kime
export QT_IM_MODULE=kime
export XMODIFIERS=@im=kime
export ELECTRON_OZONE_PLATFORM_HINT=wayland

{{ if eq .chezmoi.hostname "XiNiHa-Arch-PC" }}
export LIBVA_DRIVER_NAME=nvidia
export XDG_SESSION_TYPE=wayland
export GBM_BACKEND=nvidia-drm
export __GLX_VENDOR_LIBRARY_NAME=nvidia
export WLR_NO_HARDWARE_CURSORS=1
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
export EDITOR="/Applications/Zed\ Preview.app/Contents/MacOS/cli -w"
export ANDROID_SDK_ROOT="$HOME/Library/Android/sdk"
{{ else }}
export EDITOR="zeditor -w"
export ANDROID_SDK_ROOT="$HOME/Android/Sdk"
{{ end }}

. "$HOME/.cargo/env"
