{
	"edit_predictions": {
		"mode": "subtle",
		"copilot": {
			"proxy": null,
			"proxy_no_verify": null
		},
		"enabled_in_text_threads": false
	},
	"theme": {
		"mode": "dark",
		"light": "One Light",
		"dark": "One Light"
	},
	"vim_mode": true,
	"cursor_blink": false,
	"ui_font_size": 16,
	"ui_font_family": "Pretendard",
	"buffer_font_size": 16,
	"buffer_font_family": "Hack Nerd Font Mono",
	"buffer_font_features": {
		"liga": false,
		"calt": false
	},
	"relative_line_numbers": "enabled",
	"format_on_save": "off",
	"soft_wrap": "none",
	"hard_tabs": true,
	"tab_size": 2,
	"features": {
		"edit_prediction_provider": "zed"
	},
	"agent": {
		"model_parameters": []
	},
	"inlay_hints": {
		"enabled": true
	},
	"tabs": {
		"git_status": true
	},
	"terminal": {
		"shell": {
			"program": "nu"
		},
		"font_family": "Hack Nerd Font Mono",
		"font_size": 14,
		"detect_venv": {
			"on": {
				"directories": [".venv", "venv"],
				"activate_script": "nushell"
			}
		}
	},
	"lsp": {
		"vtsls": {
			"settings": {
				"typescript": {
					"inlayHints": {
						"parameterNames": {
							"enabled": "all",
							"suppressWhenArgumentMatchesName": true
						},
						"variableTypes": {
							"enabled": false
						},
						"enumMemberValues": {
							"enabled": false
						}
					}
				},
				"javascript": {
					"inlayHints": {
						"parameterNames": {
							"enabled": "all",
							"suppressWhenArgumentMatchesName": true
						},
						"variableTypes": {
							"enabled": false
						},
						"enumMemberValues": {
							"enabled": false
						}
					}
				},
				"vtsls": {
					"autoUseWorkspaceTsdk": true,
					"experimental": {
						"maxInlayHintLength": 20
					}
				}
			}
		},
		"biome": {
			"settings": {
				"require_config_file": true
			}
		},
		"rust-analyzer": {
			"initialization_options": {
				"checkOnSave": {
					"command": "clippy"
				},
				"cargo": {
					"features": "all"
				}
			}
		}
	},
	"languages": {
		"YAML": {
			"hard_tabs": false
		},
		"Rust": {
			"hard_tabs": false,
			"tab_size": 4
		}
	}
}
